
/* ********** Container ************** */

*{
    font-family: helvetica, arial, sans-serif;
}

#container {
    position: absolute;
    height: 100%;
    width: 100%;
}

/* ************ Header ************** */

#top-bar{
    position: absolute;
    top: 0;
    width: 100%;
    height: 75px;
    background-color: #00957a;
}

#back-arrow{
    position: absolute;
    font-size: 38px;
    color: #212721;
    margin: 1rem;
    top: 3%;
    font-weight: 500;
}

#back-arrow:hover{
    color: #f2f2f3;
    transition: all 0.5s ease 0s
}

h2{
    position: absolute;
    top: 3%;
    left: 45%;
    margin: 1rem;
    font-weight: 600;
}

/* *********** Main ******** */

/* skriv css her */



/*
********** Media Query for Iphone X **********
*/



/*
********** Media Query for Ipad **********
*/

